<section class="section">
	<div class="section_in">
		<div class="section_subtitle">TRUST YOUR FRIENDS</div>
		<div class="section_title size_mod offset_1_mod">What They Said...</div>
		<div class="what_they_said_container_w">
			<ul class="what_they_said_w mobileSlider masonGrid">
				<li class="wts_item_wrap"><a class="wts_item" href="#">
						<picture class="wts_photo_wrap">
							<source srcset="i/face/1.webp" type="image/webp"/>
							<source srcset="i/face/1.jpg" type="image/jpg"/><img class="cover_img" src="i/face/1.jpg" alt=""/>
						</picture>
						<div class="wts_item_name">Zanna Ollove, Boston College</div>
						<div class="wts_item_stars_w">
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
						</div>
						<div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B  testing your goals with A/B  testing and a beautiful goals with A/B  testing and a beautiful dashboard testing and a beautiful dashboard showing your conversion analytics.</div>
						<div class="wts_item_date_w">
							<div class="wts_item_date">5 months ago</div>
						</div></a></li>
				<li class="wts_item_wrap"><a class="wts_item" href="#">
						<picture class="wts_photo_wrap">
							<source srcset="i/face/2.webp" type="image/webp"/>
							<source srcset="i/face/2.jpg" type="image/jpg"/><img class="cover_img" src="i/face/2.jpg" alt=""/>
						</picture>
						<div class="wts_item_name">Zanna Ollove, Boston College</div>
						<div class="wts_item_stars_w">
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
						</div>
						<div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
						<div class="wts_item_date_w">
							<div class="wts_item_date">5 months ago</div>
						</div></a></li>
				<li class="wts_item_wrap"><a class="wts_item" href="#">
						<picture class="wts_photo_wrap">
							<source srcset="i/face/3.webp" type="image/webp"/>
							<source srcset="i/face/3.jpg" type="image/jpg"/><img class="cover_img" src="i/face/3.jpg" alt=""/>
						</picture>
						<div class="wts_item_name">Nelson Nigel</div>
						<div class="wts_item_stars_w">
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
						</div>
						<div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics eautiful dashboard showing your conversion analytics.</div>
						<div class="wts_item_date_w">
							<div class="wts_item_date_icon">
								<svg class="icon icon-facebook_logo size_mod">
									<use xlink:href="i/sprite/sprite.svg#facebook_logo"></use>
								</svg>
							</div>
							<div class="wts_item_date">5 months ago</div>
						</div></a></li>
				<li class="wts_item_wrap"><a class="wts_item" href="#">
						<picture class="wts_photo_wrap">
							<source srcset="i/face/4.webp" type="image/webp"/>
							<source srcset="i/face/4.jpg" type="image/jpg"/><img class="cover_img" src="i/face/4.jpg" alt=""/>
						</picture>
						<div class="wts_item_name">Zanna Ollove, Boston College</div>
						<div class="wts_item_stars_w">
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
						</div>
						<div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and conversion analytics.</div>
						<div class="wts_item_date_w">
							<div class="wts_item_date">5 months ago</div>
						</div></a></li>
				<li class="wts_item_wrap"><a class="wts_item" href="#">
						<picture class="wts_photo_wrap">
							<source srcset="i/face/1.webp" type="image/webp"/>
							<source srcset="i/face/1.jpg" type="image/jpg"/><img class="cover_img" src="i/face/1.jpg" alt=""/>
						</picture>
						<div class="wts_item_name">Zanna Ollove, Boston College</div>
						<div class="wts_item_stars_w">
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
						</div>
						<div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
						<div class="wts_item_date_w">
							<div class="wts_item_date">5 months ago</div>
						</div></a></li>
				<li class="wts_item_wrap"><a class="wts_item" href="#">
						<picture class="wts_photo_wrap">
							<source srcset="i/face/2.webp" type="image/webp"/>
							<source srcset="i/face/2.jpg" type="image/jpg"/><img class="cover_img" src="i/face/2.jpg" alt=""/>
						</picture>
						<div class="wts_item_name">Zanna Ollove, Boston College</div>
						<div class="wts_item_stars_w">
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
						</div>
						<div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
						<div class="wts_item_date_w">
							<div class="wts_item_date">5 months ago</div>
						</div></a></li>
				<li class="wts_item_wrap"><a class="wts_item" href="#">
						<picture class="wts_photo_wrap">
							<source srcset="i/face/3.webp" type="image/webp"/>
							<source srcset="i/face/3.jpg" type="image/jpg"/><img class="cover_img" src="i/face/3.jpg" alt=""/>
						</picture>
						<div class="wts_item_name">Nelson Nigel</div>
						<div class="wts_item_stars_w">
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
						</div>
						<div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
						<div class="wts_item_date_w">
							<div class="wts_item_date_icon">
								<svg class="icon icon-facebook_logo size_mod">
									<use xlink:href="i/sprite/sprite.svg#facebook_logo"></use>
								</svg>
							</div>
							<div class="wts_item_date">5 months ago</div>
						</div></a></li>
				<li class="wts_item_wrap"><a class="wts_item" href="#">
						<picture class="wts_photo_wrap">
							<source srcset="i/face/4.webp" type="image/webp"/>
							<source srcset="i/face/4.jpg" type="image/jpg"/><img class="cover_img" src="i/face/4.jpg" alt=""/>
						</picture>
						<div class="wts_item_name">Zanna Ollove, Boston College</div>
						<div class="wts_item_stars_w">
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
							<div class="wts_item_stars_item">
								<svg class="icon icon-star size_mod">
									<use xlink:href="i/sprite/sprite.svg#star"></use>
								</svg>
							</div>
						</div>
						<div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
						<div class="wts_item_date_w">
							<div class="wts_item_date">5 months ago</div>
						</div></a></li>
			</ul>
		</div>
	</div>
</section>