<footer class="footer">
	<div class="section_in v2_mod">
		<a class="footer_logo" href="{{ routes.root_url }}">
			<div class="header_logo">
				{{ section.settings.logo  | image_url: width: 400 | image_tag:
					class: 'cover_img',
					alt: 'Logo'
				}}
			</div>
		</a>
	</div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "section-footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "footer logo image"
    },
    {
      "type": "image_picker",
      "id": "logo_webp",
      "label": "footer logo image(webp)"
    }
  ]
}
{% endschema %}