<header class="header">
	<div class="section_in v2_mod flex_mod">
      <a class="header_logo_w" href="#">
              {{ section.settings.logo | image_url: width: 500 | image_tag:
                class: 'header__heading-logo',
                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
              }}
      </a>
		<div class="nav">
			<div class="header_nav offset_mob_mod">
				{% for link in linklists.main-menu.links %}
					<div class="header_nav_item">
						<a href="{{ link.url }}" class="header_nav_link">{{ link.title }}</a>
					</div>
				{% endfor %}
			</div><a class="header_cart_btn" href="#">
				<svg class="icon icon-bag size_mod">
					<use xlink:href="i/sprite/sprite.svg#bag"></use>
				</svg></a>
		</div>
		<div class="menu_trigger menuTrigger"></div>
	</div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    }
  ]
}
{% endschema %}