<section class="section hero_mod">
	<picture class="hero_bg">
		<source srcset="i/hero_bg.webp" type="image/webp"/>
		<source srcset="i/hero_bg.jpg" type="image/jpg"/><img class="cover_img" src="i/hero_bg.jpg" alt=""/>
	</picture>
	<div class="section_in">
		<div class="hero height_mod">
			<picture class="decor pos_1_mod size_1_mod v1_mod">
				<source srcset="i/decor_1.webp" type="image/webp"/>
				<source srcset="i/decor_1.png" type="image/png"/><img class="cover_img" src="i/decor_1.png" alt=""/>
			</picture>
			<picture class="decor pos_2_mod size_2_mod v2_mod">
				<source srcset="i/decor_2.webp" type="image/webp"/>
				<source srcset="i/decor_2.png" type="image/png"/><img class="cover_img" src="i/decor_2.png" alt=""/>
			</picture>
			<picture class="decor pos_3_mod size_1_mod v3_mod">
				<source srcset="i/decor_1.webp" type="image/webp"/>
				<source srcset="i/decor_1.png" type="image/png"/><img class="cover_img" src="i/decor_1.png" alt=""/>
			</picture>
			<h2 class="section_title lg_mod font_mod offset_mod">Don’t E<span class="size_in">F</span><span class="size_in_2">F</span> this up.</h2>
			<div class="section_descr center_mod offset_mod">Create awesome content in one shot!</div>
			<div class="btn_wrap center_mod offset_mod pos_mod"><a class="btn_base mob_sm_mod" href="#">Shop If Prompted</a>
				<div class="btn_pointer">Buy This!</div>
			</div>
			<div class="hero_main">
				<picture class="hero_img">
					<source srcset="i/hero.webp" type="image/webp"/>
					<source srcset="i/hero.png" type="image/png"/><img class="contain_img" src="i/hero.png" alt=""/>
				</picture>
				<div class="hero_text">
					<div class="hero_text_item"><strong>STURDY &</strong> PURDY</div>
					<div class="hero_text_item"><strong>ENDLESSLY</strong> REUSABLE</div>
					<div class="hero_text_item"><strong>FITS EVERY <br>LENS</strong> PERFECTLY</div>
					<div class="hero_text_item"><strong>LIFETIME</strong> GUARANTEE</div>
				</div>
			</div>
			<picture class="hero_logo">
				<source srcset="i/logo.webp" type="image/webp"/>
				<source srcset="i/logo.png" type="image/png"/><img class="cover_img" src="i/logo.png" alt=""/>
			</picture>
		</div>
	</div>
</section>