<section class="section">
	<div class="section_in">
		<div class="product_preview">
			<div class="product_preview_col slider_mod">
				<div class="product_head mob_mod">
					<div class="section_subtitle v2_mod align_mod offset_mod">ALL-IN-ONE-SYSTEM</div>
					<h2 class="section_title align_mod sm_mod offset_2_mod">Original Prompter Kit</h2>
					<div class="product_price_wrap">
						<div class="product_price old_mod">Was $79.99 </div>
						<div class="product_price text_mod">Get It Today For</div>
						<div class="product_price current_mod">Just $39.99</div>
					</div>
				</div>
				<div class="product_preview_slider"><a class="product_preview_slider_item" href="i/product_preview/slider_1.jpg"> 
						<picture class="product_preview_slider_img">
							<source srcset="i/product_preview/slider_1.webp" type="image/webp"/>
							<source srcset="i/product_preview/slider_1.jpg" type="image/jpg"/><img class="cover_img" src="i/product_preview/slider_1.jpg" alt=""/>
						</picture></a><a class="product_preview_slider_item" href="i/product_preview/nav_2.jpg"> 
						<picture class="product_preview_slider_img">
							<source srcset="i/product_preview/nav_2.webp" type="image/webp"/>
							<source srcset="i/product_preview/nav_2.jpg" type="image/jpg"/><img class="cover_img" src="i/product_preview/nav_2.jpg" alt=""/>
						</picture></a><a class="product_preview_slider_item" href="i/video.mp4"> 
						<picture class="product_preview_slider_img">
							<source srcset="i/product_preview/nav_3.webp" type="image/webp"/>
							<source srcset="i/product_preview/nav_3.jpg" type="image/jpg"/><img class="cover_img" src="i/product_preview/nav_3.jpg" alt=""/>
						</picture>
						<div class="product_preview_nav_item_icon lg_mod">
							<svg class="icon icon-play size_mod">
								<use xlink:href="i/sprite/sprite.svg#play"></use>
							</svg>
						</div></a>
				</div>
				<div class="product_preview_nav">
					<div class="product_preview_nav_item">
						<div class="product_preview_nav_item_in">
							<picture class="product_preview_nav_img">
								<source srcset="i/product_preview/slider_1.webp" type="image/webp"/>
								<source srcset="i/product_preview/slider_1.jpg" type="image/jpg"/><img class="cover_img" src="i/product_preview/slider_1.jpg" alt=""/>
							</picture>
						</div>
					</div>
					<div class="product_preview_nav_item">
						<div class="product_preview_nav_item_in">
							<picture class="product_preview_nav_img">
								<source srcset="i/product_preview/nav_2.webp" type="image/webp"/>
								<source srcset="i/product_preview/nav_2.jpg" type="image/jpg"/><img class="cover_img" src="i/product_preview/nav_2.jpg" alt=""/>
							</picture>
						</div>
					</div>
					<div class="product_preview_nav_item">
						<div class="product_preview_nav_item_in">
							<picture class="product_preview_nav_img">
								<source srcset="i/product_preview/nav_3.webp" type="image/webp"/>
								<source srcset="i/product_preview/nav_3.jpg" type="image/jpg"/><img class="cover_img" src="i/product_preview/nav_3.jpg" alt=""/>
							</picture>
							<div class="product_preview_nav_item_icon">
								<svg class="icon icon-play size_mod">
									<use xlink:href="i/sprite/sprite.svg#play"></use>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product_preview_col content_mod">
				<div class="product_head desktop_mod">
					<div class="section_subtitle v2_mod align_mod offset_mod">ALL-IN-ONE-SYSTEM</div>
					<h2 class="section_title align_mod sm_mod offset_2_mod">Original Prompter Kit</h2>
					<div class="product_price_wrap">
						<div class="product_price old_mod">Was $79.99 </div>
						<div class="product_price text_mod">Get It Today For</div>
						<div class="product_price current_mod">Just $39.99</div>
					</div>
				</div>
				<div class="product_text">Using dry-erase markers, jot down prompts to keep you focused on the most important details of your content. Shoot noticeably cleaner videos with less re-takes! Our Prompter Board is the perfect tool for anyone creating content!</div>
				<div class="product_info">
					<div class="product_info_title">Prompter Kit Includes: </div>
					<div class="product_info_list">
						<div class="product_info_item">1 <strong>Medium</strong> (12X12) Prompter Board</div>
						<div class="product_info_item">3 GripFit Lens Attachments Fitting Virtually <strong>All Lens Sizes</strong></div>
						<div class="product_info_item">2 Black Dry-Erase Markers</div>
					</div>
				</div>
				<div class="product_bottom">
					<div class="product_quantity">
						<select class="product_quantity_select">
							<option>Qty: 01</option>
							<option>Qty: 02</option>
							<option>Qty: 03</option>
						</select>
					</div>
					<div class="btn_wrap"><a class="btn_base" href="#">Add To Cart </a></div>
				</div>
			</div>
		</div>
	</div>
</section>