<section class="section">
	<div class="section_in pos_mod">
		<picture class="review_img_w">
			<source srcset="i/review/review.webp" type="image/webp"/>
			<source srcset="i/review/review.png" type="image/png"/><img class="cover_img" src="i/review/review.png" alt=""/>
		</picture>
		<div class="review">
			<picture class="review_decor_left">
				<source srcset="i/review/review_decor_1.webp" type="image/webp"/>
				<source srcset="i/review/review_decor_1.png" type="image/png"/><img class="cover_img" src="i/review/review_decor_1.png" alt=""/>
			</picture>
			<picture class="review_decor_right">
				<source srcset="i/review/review_decor_2.webp" type="image/webp"/>
				<source srcset="i/review/review_decor_2.png" type="image/png"/><img class="cover_img" src="i/review/review_decor_2.png" alt=""/>
			</picture>
			<div class="review_content">
				<div class="review_content_text">
					<p>This product has dramatically helped me stay focused, save substantial time and appear more confident behind the camera. This has been a life saver! - Jeremy Blossom</p>
				</div>
			</div>
		</div>
	</div>
</section>