<section class="section indent_mod">
	<div class="section_in">
		<div class="step_w"> 
			<div class="step_item_w">
				<picture class="step_decor">
					<source srcset="i/step/step_arrow.webp" type="image/webp"/>
					<source srcset="i/step/step_arrow.png" type="image/png"/><img class="cover_img" src="i/step/step_arrow.png" alt=""/>
				</picture>
				<div class="step_item active_mod">
					<div class="step_title_w"> <span class="step_value">Step 1:</span>
						<h2 class="step_title">Jot It Down!</h2>
					</div>
					<div class="img_w"> <img class="cover_img" src="i/step/step_1.png" alt="step_img"/></div>
					<div class="step_item_descr">Using dry-erase markers, jot down prompts to keep you focused on the most important details of your content.</div>
				</div>
			</div>
			<div class="step_item_w">
				<picture class="step_decor">
					<source srcset="i/step/step_arrow.webp" type="image/webp"/>
					<source srcset="i/step/step_arrow.png" type="image/png"/><img class="cover_img" src="i/step/step_arrow.png" alt=""/>
				</picture>
				<div class="step_item">
					<div class="step_title_w"> <span class="step_value">Step 2:</span>
						<h2 class="step_title">Pop It Up!</h2>
					</div>
					<div class="img_w"> <img class="cover_img" src="i/step/step_2.png" alt="step_img"/></div>
					<div class="step_item_descr">Simply slide your Prompter Board  over any lens using one of our SafeGrip® attachments. You are now ready to film!</div>
				</div>
			</div>
			<div class="step_item_w">
				<picture class="step_decor">
					<source srcset="i/step/step_arrow.webp" type="image/webp"/>
					<source srcset="i/step/step_arrow.png" type="image/png"/><img class="cover_img" src="i/step/step_arrow.png" alt=""/>
				</picture>
				<div class="step_item">
					<div class="step_title_w"> <span class="step_value">Step 3:</span>
						<h2 class="step_title">Crush It!</h2>
					</div>
					<div class="img_w"> <img class="cover_img" src="i/step/step_3.png" alt="step_img"/></div>
					<div class="step_item_descr">Shoot noticeably cleaner videos with less re-takes! Our Prompter Board is the perfect tool for anyone creating content!</div>
				</div>
			</div>
		</div>
	</div>
</section>